a:focus {
    outline: none;
}

.main-content {
    margin: 10px;
}

.searchbar {
    background: #f2f2f2;
    border-radius: 5px;
    min-height: 60px;
}

.toolbar {
    margin: 10px 10px 0 0;
}

.form-control {
    display: inline-block;
    padding: 10px;
    width: 280px;
}

.form-control label {
    display: inline-block;
    float: none;
    line-height: 20px;
    padding: 10px;
    text-align: right;
    width: 60px;
}

.form-control input.layui-input {
    display: inline-block;
    width: 180px;
}

.state-span {
    border-radius: 2px;
    color: snow;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding: 2px 6px;
}

.state-enabled {
    background: #5FB878;
}

.state-disabled {
    background: #898989;
}

.state-deleted {
    background: indianred;
}

.layui-table-cell {
    padding: 0 5px !important;
}